@use '~@angular/material' as mat;
@import '~bootstrap/dist/css/bootstrap.min.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.lead {
    padding: 2rem;
}

.lead > button{
    margin: 0 .5rem;
}

.lead > button > a{
    text-decoration: none;
    color: white;
}

button > fa-icon{
    font-size: 15px;
    margin-right: .5rem;
    top: 2px;
    opacity: 0.5
}

@include mat.core();

$indigo-palette: (
 50: #e8eaf6,
 100: #c5cae9,
 200: #9fa8da,
 300: #7986cb,
 // ... continues to 900
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: white,
   // ... continues to 900
 )
);

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 )
));

@include mat.all-component-themes($my-theme);