<div class="container-sm pt-5 pb-5">

    <h1 class="cover-heading">Home</h1>

    <p class="lead">
        Search the <a href="https://hn.algolia.com/">Hacker News Algolia API</a> or view a list of past searches from your sessions.
    </p>

    <p class="lead">
        
        <button type="button" class="btn btn-lg btn-secondary" routerLink="/search">
            <fa-icon [icon]="faSearch"></fa-icon>
            <span>Search</span>
        </button>

        <button type="button" class="btn btn-lg btn-secondary" routerLink="/history">
            <fa-icon [icon]="faClock"></fa-icon>
            <span>History</span>
        </button>

    </p>

</div>